"*":
  "atom-beautify":
    analytics: false
  "atom-lint":
    showViolationMetadata: false
    watchConfig: false
  "atom-pair":
    hipchat_room_name: "Cosmos"
    hipchat_token: "248ef037a9194e1623e740e809e5db"
  core:
    audioBeep: false
    disabledPackages: [
      "jslint"
      "webbox-color"
      "jsformat"
      "esformatter"
      "linter-sass-lint"
    ]
    excludeVcsIgnoredPaths: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".DS_Store"
    ]
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    useShadowDOM: true
  "ember-cli-helper": {}
  emmet: {}
  "exception-reporting":
    userId: "af2e131e-9b16-acb6-24de-bae8c9d4e483"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local"
  "linter-scss-lint":
    executablePath: "/usr/local/var/rbenv/shims/scss-lint"
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view":
    showOnRightSide: true
    sortFoldersBeforeFiles: false
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 120
