"*":
  editor:
    fontSize: 19
    showIndentGuide: true
    preferredLineLength: 120
    tabLength: 4
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
    invisibles: {}
    showInvisibles: true
  core:
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".DS_Store"
    ]
    disabledPackages: [
      "jslint"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    showOnRightSide: true
    sortFoldersBeforeFiles: false
  "atom-lint":
    showViolationMetadata: false
    watchConfig: false
  react: {}
  "exception-reporting":
    userId: "af2e131e-9b16-acb6-24de-bae8c9d4e483"
  emmet: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/Users/ccarpent/.nvm/versions/node/v0.12.0"
    useGlobalEslint: true
  "atom-pair":
    hipchat_room_name: "Cosmos"
    hipchat_token: "248ef037a9194e1623e740e809e5db"
  "linter-scss-lint": {}
